@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: rgb(17, 125, 213);
    --secondary-color: rgb(44, 59, 116);
}

body {
    background-color: var(--main-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body, h1, p, div, img {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    font-family: "Poetsen One", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin: 2rem 0;
    padding: 1rem;
    color: white;

    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: var(--main-color);
}

.book-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
}

.new {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;

    font-size: 4rem;
    color: var(--secondary-color);

    border: none;
    cursor: pointer;
}

.book, .new {
    background-color: rgb(255, 255, 255);

    border-radius: 15px;
    box-shadow: 10px 10px var(--secondary-color);

    transition: 0.2s;
    position: relative;
}

.book:hover, .new:hover {
    transform: scale(110%);
}

.book {
    width: 25rem;
    height: 20rem;
    box-sizing: border-box;

    display: grid;
    grid-template: 1fr 4fr / 1fr 1fr;
}

.image {
    
    margin: 0 auto;
    width: 10rem;
    height: 14rem;
    border: 2px solid black;
}

.title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

.author {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.chapters, .status, .rating {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.status {
    margin-bottom: 1rem;
}

.button-container {
    background-color: rgb(209, 228, 255);
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;

    grid-column: span 2;
}

.delete, .toggle {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.text-container {
    overflow: auto;
}

dialog {
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
    border-radius: 10px;
}

form {
    font-family: "Poetsen One", "Roboto", Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

input[type="text"], input[type="number"] {
    font-family: inherit;
    padding-left: 1ch;
    height: 2lh;

    border: 2px solid grey;
    border-radius: 10px;

    outline: none;
    transition: 0.2s;
}

input[type="text"]:focus, input[type="number"]:focus {
    border: 2px solid var(--main-color);
    box-shadow: 2px 2px grey;
}

.close {
    cursor: pointer;
    background: none;
    align-self: flex-end;
    border: none;

    font-size: 1.25rem;
}

.section {
    display: flex;
    flex-direction: column;
}

.line-container, .chapters-container, .rating-container {
    display: flex;
    align-items: flex-end;
}

.separator {
    font-size: 2rem;
}

.chapters-container {
    gap: 1rem;
}

#chapters, #max {
    width: 15ch;
}

.status-container, .line-container {
    display: flex;
    justify-content: space-between;
}

#unread + label {
    color: red;
}

#progress + label {
    color: goldenrod;
}

#read + label {
    color: green;
}

.submit {
    color: white;
    background-color: var(--main-color);

    font-family: inherit;
    font-size: 1.25rem;

    cursor: pointer;
    align-self: center;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 25px;
    box-shadow: 4px 7px var(--secondary-color);
    transition: 0.2s;
}

.submit:active {
    box-shadow: none;
    transform: translate(4px, 7px);
}

.required:after {
    content:" *";
    color: red;
}