@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: rgb(17, 125, 213);
}

body {
    background-color: var(--main-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body, h1, p, div {
    padding: 0;
    margin: 0;
}

h1, p {
    padding: 0 2rem;
}

header {
    text-align: center;
    font-family: "Poetsen One", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 3rem;
    color: white;
}

.book-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
}

.new {
    cursor: pointer;
    font-size: 10rem;
    justify-content: center;
}

.book, .new {
    background-color: rgb(255, 255, 255);

    width: 17.5rem;
    height: 25rem;

    border-radius: 15px;
    box-shadow: 10px 10px rgb(44, 59, 116);

    display: flex;
    flex-direction: column;

    transition: 0.2s;
    position: relative;
}

.book:hover, .new:hover {
    transform: scale(110%);
}

.book {
    box-sizing: border-box;
    overflow: auto;
}

.image {
    margin: 0 auto;
    width: 10rem;
    height: 14rem;
    border: 2px solid black;
}

.title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

.author {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.chapters, .status {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    margin-top: 0.25rem;
    font-size: 0.9rem;
}

.status {
    margin-bottom: 1rem;
}

.button-container {
    background-color: rgb(209, 228, 255);
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;

    position: sticky;
    top: 0rem;
}

.delete, .toggle {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

dialog {
    width: 25rem;
    height: 27.5rem;
    border: 2px solid black;
    border-radius: 10px;
}

form {
    font-family: "Poetsen One", "Roboto", Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

input[type="text"], input[type="number"] {
    height: 1.5lh;
    border: 2px solid grey;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}

input[type="text"]:focus, input[type="number"]:focus {
    border: 2px solid var(--main-color);
    box-shadow: 2px 2px grey;
}

.close {
    cursor: pointer;
    background: none;
    align-self: flex-end;
    border: none;

    font-size: 1.25rem;
}

.section {
    display: flex;
    flex-direction: column;
}

.status-container {
    display: flex;
    justify-content: space-between;
}

#unread + label {
    color: red;
}

#progress + label {
    color: goldenrod;
}

#read + label {
    color: green;
}

.submit {
    color: white;
    background-color: var(--main-color);

    font-family: inherit;
    font-size: 1.25rem;

    cursor: pointer;
    align-self: center;
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
}

.required:after {
    content:" *";
    color: red;
}